* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  cursor: default;
}

body {
  font: 1.6rem Arial, Helvetica, sans-serif;
  color: #333;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.accordion {
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.accordion:focus,
.accordion:hover,
.accordion:active {
  border-color: #ccc;
}

.accordion h2 {
  pointer-events: none;
}

.accordion-title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 20px;
}

.accordion-content {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.accordion-active ~ .accordion-content {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
  padding: 15px 20px;
}

.toggle-icon {
  pointer-events: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion-active .toggle-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.col-span-2 {
  grid-column: span 2;
}

@media (max-width: 500px) {
  main {
    padding: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .accordion-title,
  .accordion-active ~ .accordion-content {
    padding: 15px;
  }

  .accordion-content img {
    height: 150px;
  }

  .col-2 {
    grid-template-columns: 1fr;
  }

  .col-span-2 {
    grid-column: auto;
  }
}
